{% load static %}
<html>
<head>
	<title>Machine Learning Index</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
	<center>
		<h1>
			Machine Learning Index
		</h1>
		<div id="main">
			<form method="POST" action="{% url 'machineLearning:index' %}">
			{% csrf_token %}
<!--				<h2>Breakdown of observed features</h2>-->
        <p>This page currently does nothing. Models are trained offline.</p>
<!--
				<p>Creates observed_features_table and displays a breakdown of the count by category.</p>
				<input type="submit" name="calculate" value="Calculate"><br>
				{% if error %}
					<h3 colour="red">{{ error }}</h3>
				{% endif %}
        <br>
        <table>
        <tr>
          <th>Total</th>
          <th>{{featurecount}}</th>
        </tr>
        <tr>
          <td>Class</td>
          <td>{{classcount}}</td>
        </tr>
        <tr>
          <td>Component</td>
          <td>{{componentcount}}</td>
        </tr>
        <tr>
          <td>Intent</td>
          <td>{{intentcount}}</td>
        </tr>
        <tr>
          <td>Method</td>
          <td>{{methodcount}}</td>
        </tr>
        <tr>
          <td>Permission</td>
          <td>{{permissioncount}}</td>
        </tr>
        <tr>
          <td>URL</td>
          <td>{{urlcount}}</td>
        </tr>
    </table>
-->
<!--
        <h2>Train classifiers</h2>
				<p>Trains some simple classifiers and reports their accuracy on the apps in the database.
          <br>Displays highly weighted features that are determined to be important for distinguishing malware by the classifiers.</p>
				<input type="submit" name="train" value="Train">
				{% if error %}
					<h3 colour="red">{{ error }}</h3>
				{% endif %}
-->
<!--
        <h2>Predict if malware</h2>
				<p>Please insert an apk file to predict if it is malware.</p>
				<textarea rows="4" cols="50" name="hashes"></textarea>
-->
			</form>
		</div>

	</center>
</body>
</html>