<style type="text/css">
    .divTable
    {
        display:  table;
        width:100%;
        background-color:#eee;
        border:1px solid  #666666;
        border-spacing:5px;
        border-collapse:separate;
    }

    .divHeaderRow
    {
       display:table-row;
       width:auto;
    }

    .divHeaderCell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:200px;
        background-color:#ccc;
        font-size: x-large;
        font-weight: bold;
        color: green;
    }

    .divRow
    {
       display:table-row;
       width:auto;
    }

    .divCell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:200px;
        background-color:#ccc;
    }
</style>