{% load static %}
<html>
<head>
	<title>Auto-populate database</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
	<center>
		<h1>
			Auto-populate database
		</h1>
		<div id="main">
			<form method="POST" action="{% url 'mobileappanalysis:auto' %}">
			{% csrf_token %}
                <p>Requests batches of 25 malware and 25 goodware from Koodous and runs them through the APK analyser.</p>
                <p>Enter number of batches to analyse:</p>
                <input type="number" name="n_batches" value="n_batches" min="1">
                <input type="submit" name="begin" value="Begin">
                {% if message %}
					<h3 colour="red">{{ message }}</h3>
				{% endif %}
			</form>
		</div>
	</center>
</body>
</html>