{% load static %}
<html>
<head>
	<title>APK Analysis View</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
	<center>
		<h1>
			APK Analysis View
		</h1>
		<div id="main">
			<form method="POST" action="{% url 'mobileappanalysis:index' %}">
			{% csrf_token %}
				<h2>By Hash</h2>
				<p>Please Insert a Hash or List of Hashes To Check</p>
				<textarea rows="4" cols="50" name="hashes"></textarea>
				<h2>By URL</h2>
				<p>Please Insert a URL or List of URLs To Check</p>
				<textarea rows="4" cols="50" name="urls"></textarea>
				<br>
				<input type="submit" name="submit" value="Check">
				{% if error %}
					<h3 colour="red">{{ error }}</h3>
				{% endif %}
			</form>
		</div>
	
	{% if virustotal or koodous %}
		<h2>Results</h2>
		{% if virustotal %}
			<div id="result1">
				<div>
					<h3>VirusTotal</h3>
					<div class="divTable">
						<div class="divHeaderRow">
							<div class="divHeaderCell">no.</div>
							<div class="divHeaderCell">Signature</div>
							<div class="divHeaderCell">PackageName</div>
							<div class="divHeaderCell">Developer Name</div>
							<div class="divHeaderCell">Koodous Rating</div>
							<div class="divHeaderCell">VirusTotal Rating</div>
							<!--
							<div class="divHeaderCell">URL List</div>
							-->
						</div>
						{% for entry in virustotal %}
						<div class="divRow">
							<div class="divCell">
								{{ forloop.counter }}
							</div>	
							<div class="divCell">
								{{ entry.md5sum }}
							</div>	
							<div class="divCell">
								{%if entry.package_name %}
									{{ entry.package_name }}
								{% else %}
									-
								{% endif %}
							</div>	
							<div class="divCell">
								{%if entry.dev_name %}
									{{ entry.dev_name }}
								{% else %}
									-
								{% endif %}
							</div>	
							<div class="divCell">
								{%if entry.koodous_rating or entry.koodous_rating == 0  %}
									{{ entry.koodous_rating }}
								{% else %}
									-
								{% endif %}
							</div>	
							<div class="divCell">
								{% if not entry.vt_detected == None and not entry.vt_total == None %}
									{% if entry.vt_detected == 0 %}
										0
									{% else %}
										{{ entry.vt_detected}}/{{entry.vt_total }}
									{% endif %}
								{% else %}
									-
								{% endif %}
							</div>
							<!--
							<div class="divCell">
								{%if entry.koodous_id %}
									{% for url in entry.koodous.json_analysis_detailed.androguard.urls %}
										{{ url }}
									{% endfor %}
								{% else %}
									-
								{% endif %}
							</div>	
							-->
    					</div>
    					{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if koodous %}
			<div id="result2">
				<div>
					<h3>Koodous</h2>
					{{ koodous }}
				</div>
			</div>
		{% endif %}
	{% endif %}
		
	</center>
</body>
</html>