{% load static %}
<html>
<head>
	<title>Androguard Index</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
	<center>
		<h1>
			Androguard Index
		</h1>
		<div id="main">
			<form method="POST" action="{% url 'androguard:index' %}" enctype="multipart/form-data">
			{% csrf_token %}
				<h2>Upload apk</h2>
        <p>Submit an apk to be analysed by androguard.</p>
        <input type="file" name="myfile" value="myfile">
        <input type="submit" name="upload" value="Analyze">
			</form>
      <form method="POST" action="{% url 'androguard:index' %}" enctype="multipart/form-data">
			{% csrf_token %}
				<h2>Get apk from s3</h2>
        <p>Submit a string in the format bucket-name/path/to/file to be analysed by androguard.</p>
        <input type="text" name="s3filepath">
        <input type="submit" name="s3" value="Analyze">
			</form>
		</div>
	</center>
</body>
</html>