{% load static %}
<html>
<head>
	<title>Auto-populate database</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
	<center>
		<h1>
			Auto-populate database
		</h1>
      <h2>Status</h2>
      <p>Koodous: <b>{{ kmal }}</b> negatively rated apps, <b>{{ kbenign }}</b> unrated apps.</p>
      <p>Virustotal: <b>{{ vmal}}</b> malicious apps, <b>{{ vbenign }}</b> benign apps and <b>{{ vnull }}</b> unrated apps.</p>
		<div id="main">
			<form method="POST" action="{% url 'vtkoodousscraper:index' %}">
			{% csrf_token %}
                <h2>Auto-populate from Koodous</h2>
                <p>Begin collecting batches from Koodous. A batch consists of 25 negatively rated (malign) or 25 unrated (mostly benign) apps from Koodous.</p>
                <p>Auto-populater will attempt to equalise the number of malign and benign apps in the database.</p>
                <input type="submit" name="koodousbegin" value="Begin">
                <input type="submit" name="koodousstop" value="Stop">
			</form>
      <form method="POST" action="{% url 'vtkoodousscraper:index' %}">
			{% csrf_token %}
                <h2>Collect labels from Virustotal</h2>
                <p>Begin collecting labels from Virustotal for apps in database.</p>
                <input type="submit" name="vtbegin" value="Begin">
                <input type="submit" name="vtstop" value="Stop">
			</form>
		</div>
	</center>
</body>
</html>